{% extends "lab_home.html" %}
{% block content %}


    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Lab</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Tests</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <section class="w3l-w3l-contacts-12 py-5">
        <div class="contact-top py-lg-5 py-md-4 py-2">
            <div class="container">
                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <h5 class="sub-title">Add</h5>
                    <h3 class="title-style">Slots</h3>
                </div>
                <form method="post" class="main-input">
                    {% csrf_token %}
                    <div class="row top-inputs">
                        <div class="col-md-12">
                            <input type="date" placeholder="Test name" name="date" id="w3lName" required="" onchange="validateDate(this.value)">
                        </div>
                        <div class="col-md-12">
                            <input type="time" name="time" placeholder="Price" id="w3lSender" required="">
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-style" id="subBtn">Add</button>
                    </div>
                </form>

                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <h5 class="sub-title">Added</h5>
                    <h3 class="title-style">Slots</h3>
                </div>
                <table class="table text-light text-center">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Test</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Report</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for d in data%}
                      <tr>
                        <td>{{d.date}}</td>
                        <td>{{d.time}}</td>
                        {%if d.user == None %}
                        <td colspan="4" class="text-danger">Not booked</td>
                        {%else%}
                        <td>{{d.user.first_name}}</td>
                        <td><a href="lab_bookedTets?sid={{d.id}}"><button class="btn btn-light">Tests</button></a></td>
                        {%if d.testStatus == 1%}
                        <td><button class="btn btn-info" disabled>Completed</button></td>
                        <td><a href="lab_addReport?id={{d.id}}"><button class="btn btn-warning">Report</button></a>
                            {%if d.report%}
                            <sup>✔️</sup>
                            {%else%}
                            <sub>❌</sub>
                            {%endif%}
                        </td>
                        {%elif d.testStatus == 2%}
                        <td><button class="btn btn-info" disabled>Completed</button></td>
                        <td><a href="lab_addReport?id={{d.id}}"><button class="btn btn-warning">Report</button></a>
                            {%if d.report%}
                            <sup>✔️</sup>
                            {%else%}
                            <sub>❌</sub>
                            {%endif%}
                        </td>
                        {%elif d.testStatus == 0%}
                        <td><a href="lab_completed?id={{d.id}}"><button class="btn btn-info">Completed</button></a></td>
                        <td><button disabled class="btn btn-warning">Report</button>
                            {%if d.report%}
                            <sup>✔️</sup>
                            {%else%}
                            <sub>❌</sub>
                            {%endif%}
                        </td>
                        {%endif%}
                        {%endif%}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                </div>
            </div>
        </section>
                      
        <script>
            function validateDate(inputDate) {
                // var inputDate = document.getElementById("dateInput").value;
                var currentDate = new Date();
                var enteredDate = new Date(inputDate);
        
                if (enteredDate < currentDate) {
                    alert("You have selected a date before today");
                    document.getElementById("subBtn").disabled = true;
                } else {
                    document.getElementById("subBtn").disabled = false;
        
                }
            }
        </script>
        
{% endblock %}