{% extends "lab_home.html" %}
{% block content %}


    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Lab</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Tests booked</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <section class="w3l-w3l-contacts-12 py-5">
        <div class="contact-top py-lg-5 py-md-4 py-2">
            <div class="container">

                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <!-- <h5 class="sub-title">My</h5> -->
                    <h3 class="title-style">Tests</h3>
                </div>
                <table class="table text-light text-center">
                    <thead>
                      <tr>
                        <th scope="col">Test</th>
                        <th scope="col">Description</th>
                        <th scope="col">Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for d in data%}
                      <tr>
                        <td>{{d.test.test}}</td>
                        <td>{{d.test.description}}</td>
                        <td>{{d.test.price}}</td>
                        <!-- <td>{{d.email}}</td>
                        <td>{{d.address}}</td>
                        <td><a href="user_slots?id={{d.id}}"><button class="btn btn-warning">Slots</button></a></td> -->
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                </div>
            </div>
        </section>
                      
        <script>
            function validateDate(inputDate) {
                // var inputDate = document.getElementById("dateInput").value;
                var currentDate = new Date();
                var enteredDate = new Date(inputDate);
        
                if (enteredDate < currentDate) {
                    alert("You have selected a date before today");
                    document.getElementById("subBtn").disabled = true;
                } else {
                    document.getElementById("subBtn").disabled = false;
        
                }
            }
        </script>
        
{% endblock %}