{% extends "user_home.html" %}
{% block content %}

<style>
    /* Custom CSS for round grid */
    .rounded-grid {
        border-radius: 50%;
        overflow: hidden;
    }

    .rounded-grid-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; /* Adjust height as needed */
        background-color: #f8f9fa; /* Optional: Background color for grid items */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for grid items */
        margin-bottom: 10px; /* Optional: Adjust margin between grid items */
    }
</style>


    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">User</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Slots</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <section class="w3l-w3l-contacts-12 py-5">
        <h1 class="px-lg-5 h1">Slots in {{lab}}</h1>
        <div class="contact-top py-lg-5 py-md-4 py-2">

    <div class="container">
        <div class="row">
            {%for d in data%}
            <div class="col-md-2">
                <div class="rounded-grid" >
                    {%if d.user%}
                    <div class="rounded-grid-content text-center bg-danger" >
                        {{d.date}}<br>{{d.time}} 
                    </div>
                    {%else%}
                    <div class="rounded-grid-content text-center bg-success" >
                        <a href="user_bookslot?id={{d.id}}">{{d.date}}<br>{{d.time}} </a>
                    </div>
                    {%endif%}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
    </div>
    </section>
            
{% endblock %}