{% extends "admin_home.html" %}
{% block content %}


    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Admin</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Bookings</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <section class="w3l-w3l-contacts-12 py-5">
        <div class="contact-top py-lg-5 py-md-4 py-2">
            <div class="container">

                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <h5 class="sub-title">Overview</h5>
                    <h3 class="title-style">Bookings</h3>
                </div>
                <table class="table text-light text-center">
                    <thead>
                      <tr>
                        <th scope="col">Lab</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Test</th>
                        <th scope="col">report</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for d in data%}
                      <tr>
                        <td>{{d.lab.name}}</td>
                        <td>{{d.date}} {{d.time}}</td>
                        {%if d.user%}
                            <td>{{d.user.first_name}}</td>
                            <td>{{d.test.test}}</td>
                            {%if d.testStatus == 2%}
                                {%if d.report%}
                                <td><a href="static/media/{{d.report}}" target="_blank"><img src="static/media/{{d.report}}" width="150px" height=""alt=""></a></td>
                                {%else%}
                                <td class="text-danger">--Report not added--</td>
                                {%endif%}
                            {%elif d.testStatus == 1%}
                                <td class="text-danger">--Not paid--</td>
                            {%else%}
                                <td class="text-warning">--Test not completed--</td>
                            {%endif%}
                        {%else%}
                            <td class="text-danger" colspan="3">--Not booked--</td>
                        {%endif%}

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  
                </div>
            </div>
        </section>
                      
        <script>
            function validateDate(inputDate) {
                // var inputDate = document.getElementById("dateInput").value;
                var currentDate = new Date();
                var enteredDate = new Date(inputDate);
        
                if (enteredDate < currentDate) {
                    alert("You have selected a date before today");
                    document.getElementById("subBtn").disabled = true;
                } else {
                    document.getElementById("subBtn").disabled = false;
        
                }
            }
        </script>
        
{% endblock %}