{% extends "login.html" %}
{% block content %}
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Join Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Client registration</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- contact -->
    <section class="w3l-w3l-contacts-12 py-5">
        <div class="contact-top py-lg-5 py-md-4 py-2">
            <div class="container">
                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <h5 class="sub-title">Get In Touch</h5>
                    <h3 class="title-style">Clients</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 contacts12-main">
                        <form method="post" class="main-input">
                            {% csrf_token %}
                            <div class="row top-inputs">
                                <div class="col-md-6">
                                    <input type="text" placeholder="first name" name="fname" id="w3lName" required="">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="lname" placeholder="Last name" id="w3lSender" required="">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Username" name="username" id="w3lName" required="">
                                </div>
                                <div class="col-md-6">
                                    <input type="password" name="password" placeholder="Password" id="w3lSender" required="">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Email" name="email" id="w3lName" required="">
                                </div>
                                <div class="col-md-6">
                                    <input type="number" name="phone" placeholder="Phone" id="w3lSender" required="">
                                </div>
                            </div>
                            <!-- <input type="text" placeholder="Phone Number" name="w3lName" id="w3lName" required=""> -->
                            <textarea placeholder="Address" name="address" id="w3lMessage" required=""></textarea>
                            <textarea placeholder="Your health status, specify if anything special about you" name="health" id="w3lMessage" required=""></textarea>
                            <div class="text-end">
                                <button type="submit" class="btn btn-style">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 ps-lg-5 mt-md-0 mt-4">
                        <h3 class="title-style mb-4">Contact Info</h3>
                        <div class="contact">
                            <a href="mailto:hello@example.com">
                                <p class="contact-text-sub">hello@example.com</p>
                            </a>
                            <a href="tel:+7-800-999-800">
                                <p class="contact-text-sub">+7-800-999-800</p>
                            </a>
                            <p class="contact-text-sub">76 West Rock, Maple Building, <br>London.</p>
                            <div class="buttons-teams">
                                <a href="#team"><span class="fab fa-facebook-square" aria-hidden="true"></span></a>
                                <a href="#team"><span class="fab fa-twitter-square" aria-hidden="true"></span></a>
                                <a href="#team"><span class="fab fa-google-plus-square" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact map -->
    <section class="w3l-contacts-1">
        <div class="contacts">
            <div class="contacts-content">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.47340002653!2d-0.24168120642536509!3d51.52855824164916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1562822037850!5m2!1sen!2sin"
                    width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
                <address>
                    <h4>London</h4>
                    <a href="mailto:hello@w3layouts.com">Email: hello@w3layouts.com</a>
                    <a href="tel:8-800-999-800">Tel: 8-800-999-800</a>
                </address>
            </div>
        </div>
    </section>
    <!-- //contact -->


{% endblock %}
